include README.md LICENSE
# 僅從 src 版位打包資源
recursive-include src/Make_report_sign_easy/fonts *.ttf
recursive-include src/Make_report_sign_easy/configs *.json
include src/Make_report_sign_easy/version.json
